p{color:black;
  font-family:Segoe script;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;}
h3{font-family:Segoe script;
	font-size:27px;}
h2{font-family:Segoe script;
   color:#fdc500;
   text-decoration:none;
   font-style:normal;}
h1{color:black;
   font-family:Segoe script;}		 
 H2:hover {color: white;} 
body{font-weight: bold;
     font-size: 15px;
	 background:#fdc500;
	 height:100%;
	 width:100%;}
img#1{width:90%;}
img#5{float:right;}
img#vk{}
img#i{border-radius: 150px;}
header{height:20%;}
div{display: block;}
a{font-family:italic, white;
  text-decoration:none;}
a#of:hover{text-decoration:underline;
           color:yellow;}
a#of{color:orange;}
nav{ width:100%;
     height:8%;
	 display: block;
	 background-color:black;
}
footer{display: block;
    vertical-align:bottom;
	background-color:#333333;
       width:100%;
	   height:20%;
	   color:white;}
table#2{width:50%;
        border-spacing:100px;}
table#1{color:#fdc500;}
table#5{background-color:#fdc500;}
ul,li{font-family:Segoe script, black;}
td#1{background-color:black;
   height:100%;
   }
main{margin-left:10%;
     height:80%}  
td#5{background-color:#fdc500;}
td{font-family:Segoe script;}
tr{height:20%;
}
audio{color:yellow;}
span#l2{
	margin-top: 45px;
	margin-left: 25%;
	float:left;
	}
span#l1{
	margin-top: 40px;
	float:left;
	}
span#c1{ 
	float:left;
	margin-left: 33%;
	}
a.img:hover {size:110%;}